

  .preview-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 315px;
    
  }
  
  .preview {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 0.375rem;
    height: 100%;
    
  }
  
  .preview.template1 {
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .preview.template3{
    flex-direction: column;
  }

  .preview.template2 {
    flex-direction: row;
    justify-content: space-between;
    border: 4px solid #020202;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .content {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .template2 .content {
    width: 50%;
    height: 100%;
  }
  
  .template3 {
    filter: grayscale(100%);
    border: 2px solid rgb(66, 65, 65);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  
  .content h3 {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .content p {
    margin-top: 4px;
  }
  .image{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  img {
    border-radius: 0.375rem;
    width: 100%;

  }
  

  .bg-red-200 { background-color: #FED7D7; }
  .bg-blue-200 { background-color: #BEE3F8; }
  .bg-green-200 { background-color: #C6F6D5; }
  .bg-white { background-color: #FFFFFF; }
  .bg-purple-200 { background-color: #E9D8FD; }
